@import "./rose-pine.css";

* {
  background-color: @base;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Cascadia Mono NF';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}
#battery,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#custom-expand-icon,
#language{
  margin-right: 15px;
}

#language{
  margin-top: 1px;
}
#custom-expand-icon{
  margin-top: 2px;
}

#tray{
  margin-right: 10px;
}
#clock {
  margin-left: 10px;
}

.hidden {
  opacity: 0;
}
